################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/triggercmdpi/v17/.suo
/WhatCanISayApp/obj
/WhatCanISayApp/.vs/WhatCanISay
/WhatCanISayTRIGGERcmd/bin
